osx_image: xcode10.2
language: objective-c
python:
  - "3.6"

cache:
  directories:
    - Carthage
    - Example/Pods

install:
  - ./install_dependencies.sh

script:
  - bundle exec fastlane ci

deploy:
  - provider: script
    script: bundle exec fastlane release
    skip_cleanup: true
    on:
      repo: fjcaetano/RxWebSocket
      tags: true
